__pycache__/
*.pyc
*.pyo
*.swp
*.swo
*.log
*.aux
*.fls
*.fdb_latexmk
2370_question_banks/*.pdf
2370_question_banks/*.log
2370_question_banks/*.aux
2370_question_banks/*.fls
2370_question_banks/*.fdb_latexmk
